<div class="axis-item">
    <span>@Name</span>
    <svg width="100px" height="10px">
        <rect x="0" y="0" width="100" height="10" rx="3" ry="3" fill="#282828"></rect>
        <rect x="0" y="0" width="@svgVal" height="10" rx="3" ry="3" fill="#aaa"></rect>
    </svg>
    <span>@($"{Value:0.000}")</span>
</div>

@code {
    [Parameter]
    public string Name { get; set; } = "Unamed";
    [Parameter]
    public float Value { get; set; } = 0;

    private int svgVal => (int)Math.Round((Value + 1) * 50,0);
}
