@page "/logconsole"
@using DSRemapper.DSLogger;
@using Microsoft.AspNetCore.Components.Rendering;
@using Microsoft.JSInterop;

@inject IJSRuntime JS

@functions{
    ElementReference main, logConsole;

    void ScrollBottom(){
        JS.InvokeVoidAsync("ScrollToBottom", new object[] { main });
    }
    void AddHTMLLog(string html){
        JS.InvokeVoidAsync("AddHTML", new object[] { logConsole, html });
    }
}

<div id="nav">
    <Microsoft.AspNetCore.Components.Forms.InputCheckbox @bind-Value=autoScroll />
    <input type="checkbox" checked id="autoScroll" onchange="">
    <label for="autoScroll">Auto scroll on log</label>
    <button onclick="@Count">AddLog</button>
    <button onclick="@ScrollBottom">ScrollBottom</button>
</div>
<div @ref=main id="main">
    <div @ref=logConsole id="log-console">
    </div>
</div>
<div id="footer">
</div>
@{
    if(firstLoad){
        firstLoad = false;
        Logger.OnLog += PrintLog;
    }
}
@code {
    bool firstLoad = true;

    bool autoScroll=true;
    void PrintLog(Logger.LogEntry entry){
        AddHTMLLog($"<{entry.Level}>{entry.Message}</{entry.Level}>");
        if(autoScroll)
            ScrollBottom();
    }

    void Count(){
        Logger.Log($"Hola mundo {Logger.Subcribers}");

    }
}