@using DSRemapper.Core;
@using DSRemapper.RemapperCore;
@using Microsoft.AspNetCore.Components.Forms

<div class="ctrl">
    <img>
    <div class="ctrl-main">
        <div class="title"><label><InputCheckbox @bind-Value=active/> @Name - @Type</label></div>
        <div class="description">@InfoLine</div>
        <select class="profile-list">
            <option value="">Select a profile</option>
            @foreach (string op in options)
            {
                <option>op</option>
            }
        </select>
        <div class="console">@ConsoleText</div>
    </div>
    <div class="buttons">
        <button onclick="">Connect</button>
        <button onclick="">Disconnect</button>
        <button>Input Test</button>
    </div>
</div>

@code {
    private bool active = false;

    [Parameter, EditorRequired]
    public Remapper Remapper { get; set; } = null!;

    [Parameter]
    public string Name { get; set; } = "Unamed";
    [Parameter]
    public string Type { get; set; } = "Unknown";
    [Parameter]
    public string InfoLine { get; set; } = "No information";
    [Parameter]
    public string ConsoleText { get; set; } = @"Hola Mundo!";

    private List<string> options = new()
    {
        "test1",
        "test2",
        "test3",
        "test4",
    };
}
