@using DSRemapper.RemapperCore;
@using DSRemapper.Types;
@using DSRemapper.RazorLayouts;
@using DSRemapper.RazorLayouts.TestInputItems;
@implements IDisposable

<div id="nav">
    <span>@Remapper.Name - @Remapper.Type</span>
</div>
<div id="main">
    <div id="input-test-grid">
        @if (report != null)
        {
            @for (int i = 0; i < report.Axes.Length; i++)
            {
                <AxisItem Name=@($"Axis[{i}]") Value=report.Axes[i]/>
            }
            @for (int i = 0; i < report.Sliders.Length; i++)
            {
                <AxisItem Name=@($"Sliders[{i}]") Value=report.Sliders[i] />
            }
            @for (int i = 0; i < report.Povs.Length; i++)
            {
                <PovItem Name=@($"Pov[{i}]") Value=report.Povs[i] />
            }
            @for (int i = 0; i < report.Buttons.Length; i++)
            {
                <ButtonItem Name=@($"Buttons[{i}]") Value=report.Buttons[i] />
            }
            @for (int i = 0; i < report.SixAxis.Length; i++)
            {
                <SixAxisItem Name=@($"SixAxis[{i}]") Value=report.SixAxis[i] Scale=SixAxisScales[i] />
            }
            @for (int i = 0; i < report.Touch.Length; i++)
            {
                <TouchItem Name=@($"Touch[{i}]") Value=report.Touch[i] />
            }
            @for (int i = 0; i < report.Quaternions.Length; i++)
            {
                <QuatItem Name=@($"Quaternion[{i}]") Value=report.Quaternions[i] />
            }
        }
    </div>
</div>
<div id="footer">
    @if (report != null)
    {
        <span>Battery: @report.Battery</span>
        <span>USB: @report.Usb</span>
    }
</div>

@code {
    [Parameter]
    public Remapper Remapper { get; set; } = null!;

    private DSInputReport? report = null;
    static readonly float[] SixAxisScales = new[] { 1f, 500f, 1f, 1f }; 

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            Remapper.OnRead += OnControllerRead;
        }
    }

    private void OnControllerRead(DSInputReport report)
    {
        this.report = report;
        this.InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        Remapper.OnRead -= OnControllerRead;
    }
}
