@page "/"
@using DSRemapper.ConfigManager;
@using DSRemapper.Core;
@using DSRemapper.DSLogger;
@using DSRemapper.RazorLayouts;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop;
@using System.Diagnostics;
@using System.Reflection;

@inject IJSRuntime JS
@implements IDisposable

@{
    //
    #pragma warning disable CS8974 //this is for call C# functions from onclick event
}
@functions {
    ElementReference footer;

    void SetHTML(string html)
    {
        JS.InvokeVoidAsync("SetHTML", new object[] { footer, html });
    }
}

<div id="nav">
    <button onclick="@DSBridge.WindowsControllers">Windows controllers</button>
    <button onclick="@DSBridge.LogConsole">Log console</button>
    <label><InputCheckbox @bind-Value=AutoReload/> Auto reload profiles</label>
    <button onclick="@ProjectRepository" class="to-right">v@(GetDSRVersion())</button>
</div>
<div id="main">
    <div id="controller-list">
        @foreach(var rmp in RemapperCore.RemapperCore.Remappers)
        {
            <ControllerItem Remapper="rmp" />
        }
    </div>
</div>
<div @ref=footer id="footer">
</div>

@code{
    private bool autoReload=false;
    private bool AutoReload
    {
        get => autoReload;
        set
        {
            if (value)
                fileWatcher.Changed += FileWatcher_Reload;
            else
                fileWatcher.Changed -= FileWatcher_Reload;

            autoReload = value;
        }
    }

    FileSystemWatcher fileWatcher = new(DSPaths.ProfilesPath);

    public MainLayout()
    {
        fileWatcher.Created += FileWatcher_CreateDelete;
        fileWatcher.Deleted += FileWatcher_CreateDelete;
        fileWatcher.IncludeSubdirectories = true;
        fileWatcher.EnableRaisingEvents = true;
    }

    string GetDSRVersion()
    {
        FileVersionInfo version = FileVersionInfo.GetVersionInfo(Assembly.GetExecutingAssembly().Location);
        return version.FileVersion ?? "Unkonwn";
    }
    void ProjectRepository()
    {
        Process.Start(new ProcessStartInfo("https://github.com/Oscar-Wohlfarhrt/DSRemapper") { UseShellExecute = true });
    }

    private void FileWatcher_CreateDelete(object sender, FileSystemEventArgs e)
    {
        StateHasChanged();
    }
    private void FileWatcher_Reload(object sender, FileSystemEventArgs e)
    {
        RemapperCore.RemapperCore.ReloadAllProfiles();
    }

    private void ControllersUpdate()
    {
        this.InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
#if DEBUG
    DSBridge.LogConsole();
#endif
            Logger.OnLog += Logger_OnLog;

            RemapperCore.RemapperCore.OnUpdate += ControllersUpdate;
            RemapperCore.RemapperCore.StartScanner();
        }
    }
    private void Logger_OnLog(Logger.LogEntry entry)
    {
        SetHTML($"<{entry.Level} class='mono-space'>{entry.Message}</{entry.Level}>");
    }

    public void Dispose()
    {
        Logger.OnLog -= Logger_OnLog;
    }
}
