*{
    font-family: sans-serif;
}

code {
    font-family: monospace;
    white-space: pre;
}

pcode {
    font-size: 14px;
    display: block;
    font-family: monospace;
    white-space: pre;
    
    padding: 10px;
    background-color: #e8e8e8;
    border: 2px solid #888;
    border-radius: 5px;
}